
 
  @media all and (min-width: 1200px) {
  
  .searchbar {
    padding: 30px 5px 5px 5px;
  }
  
  .search-box{
    height: 30px;
    width: 700px;
  }
  
  .filter{
    height: 30px;
  }
  
  .product-name{
    font-size: 32px;
  }
  
  .product-price{
    font-size: 22px;
  }
  
  .product-description {
    font-size: 20px;
  }
  
  .product-details {
    width: 100px;
    height: 40px;
  }
  
  .user-feedback{
    padding: 5px;
    margin: 20px;
    font-size: 20px;
  }
  
  
  .bowtie {
    height: 350px;
    width: auto;
  }
  
  .left-footer{
    width: 60%;
  }
  
  .right-footer div {
    margin: 10px;
    font-size: 30px;
  }
  
  .left-footer div {
    margin: 10px;
    font-size: 30px;
  }
    
  }
  
  
  
