.nav-bar{
    position: fixed;
     top:-50px;
     left:0px;
     bottom:0;
     border: 2px solid white;
     background-color: rgb(72,72,72);
     height: 50px;
     width: 100%;
     transition: transform 1s ease-in-out;
  }
  
  .is-active{
    transform: translateY(100%);
  }
  
  ul {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
  }
  
  .nav-bar li {
    color: white;
  }
  
  .nav-bar li:hover{
    color: cornflowerblue;
    cursor: pointer;
  }