.title {
    font-size: 20pt;
  }

.product-name{
    font-weight: bold;
    font-size: 20px;
  }
  
  .product-price{
    font-size: 18px;
    font-style: italic;
  }
  
  .product-description {
    color: gray;
  }

