<div class="wrapper">
  <div class="nav-bar">
        <ul>
         <a href=""><li class="fa fa-home"> Home</li></a>
         <a href=""><li class="fas fa-user-circle"> Account</li></a>
         <a href=""><li class="fa fa-cog"> Settings</li></a>
         <a href=""><li class="fa fa-briefcase"> Careers</li></a>
         <a><li class="log-out fas fa-sign-out-alt"> Log Out</li></a>
        <a><li class="close-pop-up-btn far fa-times-circle"></li></a>
         </ul>
    </div>
  <div class="pop-up">
    <div class="pop-up-container">
      <div class="pop-up-content">
        <a class="close-pop-up-btn far fa-times-circle"></a>
        <div class="message">Are you sure?</div>
        <div class="yes-no-btns">
          <button class="yes-btn">Yes</button>
          <button class="no-btn">No</button>
        </div>
      </div>
    </div>
  </div>
          
  <div class="page">
      <div class="topbar">
      <a><fa-icon [icon] = "faBars" class="menu-btn"></fa-icon></a>
      
      <p class="title">Bubba's Bowties</p>
      <div class="fa fa-shopping-cart"></div>
  </div>
  
  <div class="searchbar">
        <div class="search-group">
          <input class="search-box" placeholder = "Search..." />
          <div class="fa fa-search"></div>
        </div>

        <div class="filter-group">
          <select class="filter" name="filter">
            <option>Most Expensive First</option>
            <option>Least Expensive First</option>
          </select>
        </div>
  </div>

  <div class="products">
    <div class="product">
      <div class="left-side">
        <div class="img-box">
          <img class="bowtie" src="https://i5.walmartimages.com/asr/0a795177-a989-48a5-8319-f20176173ef1_1.86bd2258ce2e242f2bd912ab668a9f4e.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF"  />
        </div>
        
         <div class="user-feedback">
            <div class="fa fa-heart">  7</div>
            <div class="fas fa-share-alt">  4</div>
            <div class="far fa-thumbs-up">  1776</div>
        </div>
        
        <div class="color-circles">
          <a href="">
            <img class = "circle" src="https://www.stickpng.com/assets/images/58afdad6829958a978a4a693.png" />
          </a>
          
          <a href="">
            <img class = "circle" src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fb/Yellow_icon.svg/1024px-Yellow_icon.svg.png" />
          </a>
          
          <a href="">
            <img class = "circle" src="https://www.pngix.com/pngfile/middle/119-1191137_products-services-light-blue-circle-transparent-hd-png.png" />
          </a>
       </div>
      </div>
      
      <div class="right-side">
        <div class="product-name">America the Beautiful</div>
        <div class="product-price">$19.99</div>
        <p class="product-description">This is the best bow tie in the world. It is the Freedom tie. If you like America then buy this tie...now!</p>
        <button class="product-details">Details</button>
        
      </div>
     
    </div>
    
    <div class="product">
      <div class="left-side">
        <div class="img-box">
          <img class="bowtie" src="https://www.tiemart.com/media/catalog/product/cache/e4d64343b1bc593f1c5348fe05efa4a6/b/l/black-velvet-bow-tie.jpg"  />
        </div>
        
         <div class="user-feedback">
            <div class="fa fa-heart">  0</div>
            <div class="fas fa-share-alt">  0</div>
            <div class="far fa-thumbs-up">  7</div>
        </div>
        
        <div class="color-circles">
          <a href="">
            <img class = "circle" src="https://www.stickpng.com/assets/images/58afdad6829958a978a4a693.png" />
          </a>
          
          <a href="">
            <img class = "circle" src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fb/Yellow_icon.svg/1024px-Yellow_icon.svg.png" />
          </a>
          
          <a href="">
            <img class = "circle" src="https://www.pngix.com/pngfile/middle/119-1191137_products-services-light-blue-circle-transparent-hd-png.png" />
          </a>
       </div>
      </div>
      
      <div class="right-side">
        <div class="product-name">Plain Jane</div>
        <div class="product-price">$19.99</div>
        <p class="product-description">This is an classic tie for all of your formal affairs. Dress to impress at this year's holiday office party!</p>
        <button class="product-details">Details</button>
      </div>
      
        
    </div>
    
    <div class="product">
      <div class="left-side">
        <div class="img-box">
          <img class="bowtie" src="https://i0.wp.com/tailorsandtots.com/wp-content/uploads/2019/01/Marvel-Avengers-Bow-Tie-Alternate.jpg?fit=1500%2C1500&ssl=1"  />
        </div>
        
        <div class="user-feedback">
            <div class="fa fa-heart">  77</div>
            <div class="fas fa-share-alt">  5</div>
            <div class="far fa-thumbs-up">  17</div>
        </div>
        
        <div class="color-circles">
          <a href="">
            <img class = "circle" src="https://www.stickpng.com/assets/images/58afdad6829958a978a4a693.png" />
          </a>
          
          <a href="">
            <img class = "circle" src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fb/Yellow_icon.svg/1024px-Yellow_icon.svg.png" />
          </a>
          
          <a href="">
            <img class = "circle" src="https://www.pngix.com/pngfile/middle/119-1191137_products-services-light-blue-circle-transparent-hd-png.png" />
          </a>
       </div>
      </div>
      
      <div class="right-side">
        <div class="product-name">Colors of the Rainbow</div>
        <div class="product-price">$9.99</div>
        <p class="product-description">Lots of color in this one. Also, notice the Captain America shield. This tie will not disappoint.</p>
        <button class="product-details">Details</button>
        
        
      </div>
    </div>
    
  </div>
  <div class="footer">
    <div class="left-footer">
      <div class="fas fa-envelope"></div>
      <div class="fas fa-phone"></div>
    </div>
    
    <div class="right-footer">
      <div class="fas fa-fire"></div>
      <div class="fab fa-youtube"></div>
      <fa-icon [icon]="faFacebook"></fa-icon>
      <div class="fab fa-instagram"></div>
      <div class="fab fa-twitter"></div>
    </div>
  </div>
 </div>
</div>    
 